body {
  background-color: #092635;
  color: #9ec8b9;
  font-family: "Libre Baskerville", serif;
}

.poster {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.poster-image {
  width: 100%;
  border: 5px solid #5c8374;
}
h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
}
h2 {
  text-transform: capitalize;
}
a {
  color: rgb(255, 69, 69);
  margin: 0 10px;
}
